@*@model IEnumerable<Apps.Model.Privilege.FunctionRight>*@
@using System.Drawing
@model  Dictionary<Apps.Model.Privilege.Module, IEnumerable<Apps.Model.Privilege.Module>> 
@{
    ViewBag.Title = ViewBag.companyName + " 智能人力资源管理系统";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string divContent = controllerName + "_divContent";

}

<style>

    body {
        font-family:verdana,helvetica,arial,sans-serif;
        padding:20px;
        font-size:12px;
        margin:0;
    }

    .iframe-content {
        font-size:15px;
        overflow: auto
    }
    .a-module {
        width: 85%;
    }
</style>

<script type="text/javascript">
</script>

<body class="easyui-layout" id="layout">
    <div data-options="region:'north',border:false" style="text-align:center; height:60px; background:#B3DFDA; padding:10px;" >
        <span style="text-align: center;">
            <img style="height: 40px;width: 40px" src="/Upload/@(ViewBag.logo)" />
        </span>
        <span style="text-align:center; font-size:30px; ">@(ViewBag.Title)</span>
        <span style="float: right">
            <span style="color: brown; margin-right: 5px">
                当前用户：<text >@(ViewBag.username)</text>
            </span>
            <a class="easyui-linkbutton" href="#" onclick="modifyPasswd()">
                修改密码
            </a>
            <a class="easyui-linkbutton" href="#" onclick="logout()">
                注销
            </a>
            <a class="easyui-linkbutton" href="#" onclick="quit()">
                退出
            </a>
        </span>
    </div>
<div data-options="region:'west',split:true,title:'菜单'" style="width: 250px; padding: 10px;">
    <div class="easyui-accordion" data-options="multiple:true, fit:false,border:false">
        @foreach (var parent in Model){
            <div title="@(parent.Key.name)" data-options="selected:true" style="padding: 10px">
                @foreach (var sun in parent.Value)
                {
                <a href="#" onclick="redirectUrl(this, '@(sun.baseUrl)')" class="easyui-linkbutton a-module"  data-options="iconCls:'icon-large-smartart',size:'large',iconAlign:'top'">@(sun.name)</a>
                }
                
            </div>
        }
    </div>

</div>
    <div data-options="region:'south',border:false"
         style="text-align:center; font-size:20px; height:50px; background:#A9FACD; padding:10px;">
         华夏互生 提供技术支持               服务电话 0771-8052091
    </div>
<div id="center" data-options="region:'center',title:'默认',">
    <iframe id="subPage" scrolling="yes" class="iframe-content" style="width: 100%; height: 99%"></iframe>
</div>

<div id ="dlg"></div>

</body>

<script>
    $(function () {
        closeFormEdit();
    })

    //function redirectUrl(link, url) {

    //    var title = $(link).linkbutton('options').text;

    //    var center = $('#layout').layout('panel', 'center');

    //    center.panel('close', false);

    //    center.panel('setTitle', title);
    //    center.panel('refresh', url);
    //}
    function redirectUrl(link, url) {

        if (isFormEdit()) {
            showAlert("正在编辑中");
            return;
        }

        var title = $(link).linkbutton('options').text;

        var center = $('#layout').layout('panel', 'center');
        center.panel('setTitle', title);

        $('#subPage').attr("src", url);

        //center.panel('refresh', url);
    }

    function logout()
    {
        $.ajax({
            url: '/@(controllerName)/Logout',
            type: 'GET',
            async: false,
            success: function (data) {
                window.location.href = "/Home/";
            }
        });
    }

    function quit()
    {
        $.ajax({
            url: '/@(controllerName)/Quit',
            type: 'GET',
            async: false,
            success: function (data) {
                window.location.href = "about:blank";
                window.close();
            }
        });
    }

    function modifyPasswd() {
        $.ajax({
            url: '/User/ShowModifyPasswd',
            type: 'GET',
            data: 'id=' + @(ViewBag.userId),
            async: false,
            success: function (data) {
                $('#dlg').append(data);
            }
        });
    }

</script>