@{
    ViewBag.Title = "离职预警";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string divContent = controllerName + "_divContent";
    string tabEntityList = controllerName + "_tabEntityList";
}


<div class="easyui-layout" fit="true" border="false">
    <div>
        @*<div data-options="region:'center',split:false,title:'@(tableTitle)'">*@
        <div style="padding-bottom:15px; height:auto; background: #F4F4F4;">
            <form id="searchForm">
                <table>
                    <tr>
                        <th>部门：</th>
                        <td>
                            <input class="parm_control" type="text" id="departmentIdFilter" name="departmentIdFilter" />
                        </td>
                        <th>员工姓名：</th>
                        <td>
                            <input class="parm_control" type="text" id="employeeNameFilter" name="employeeNameFilter" />
                        </td>

                    </tr>
                </table>
            </form>
        </div>
        <table class="tab_center" id="@(tabEntityList)"></table>
    </div>
</div>
<div id="@(divContent)"></div>

<div id="@(tabEntityList)Menu" class="easyui-menu" style="width: 50px; display: none;">
    <!--放置一个隐藏的菜单Div-->
    <div data-options="iconCls:'icon-money'" onclick="onShowWarningDetail()">预警详情</div>
</div>


<div id="@(tabEntityList)ContextMenu" class="easyui-menu" style="height: 250px; display: none;">
    <!--放置一个隐藏的菜单Div-->
</div>

<div id="leaveDetailDiv" class="easyui-dialog">
    <table class="tab_center" id="leaveDetailGrid"></table>
</div>

<script>
	$(function () {
	    initPage();

		//初始加载，表格宽度自适应
		$(document).ready(function(){
			onDatagridAdjust();
		});
	　　//浏览器窗口大小变化后，表格宽度自适应
		$(window).resize(function(){
			onDatagridAdjust();
		});
    })

	function initPage() {
	    $('#departmentIdFilter').combobox({
	        width: '100%',
	        //editable: false,
	        url: '/Department/GetAllEntities',
	        mode: 'remote',
	        valueField: 'id',
	        textField: 'name',
	    });

	    var url = '/@(controllerName)/LoadLeaveWarning';
	    var callbackFuns = [
            { "name": "onBeforeLoad", "fun": onBeforeLoad },
            { "name": "onDblClickRow", "fun": onShowWarningDetail },
            { "name": "onRowContextMenu", "fun": onDatagridRowContextMenu }
	    ];

	    toolbar = [
            //{ text: '导出全部', iconCls: 'icon-export', handler: onExportAll },
	    ];

	    var gridObj = new LeaveWarningGrid('@(tabEntityList)', toolbar);

	    initDatagrid(gridObj, url, callbackFuns);

	    initDivDialog("预警详情")
	}
    function initDivDialog(titleName) {
        $('#leaveDetailDiv').dialog({
            width: 550,
            height: 500,
            title: titleName,
            modal: true,
            closed: true,
            collapsible: false,// 是否显示可折叠按钮
            minimizable: false,// 是否显示最小化按钮
            maximizable: false,// 是否显示最大化按钮
            resizable: false,// 是否可以改变对话框窗口大小
            //onClose: destroyDialog,
        });

    }


    function formatGrade(score)
    {

    }
    function formatScore(score) {
        var num = Number(score)
        num = num.toFixed(2);

        return num;
    }

    function getParamsJson() {
        var filterList = new Array;
        if ($('#departmentIdFilter').val().trim() != '') {
            var p = {
                "key": "departmentId",
                "action": "==",
                "value": $('#departmentIdFilter').val().trim()
            };
            filterList.push(p)
        }
        if ($('#employeeNameFilter').val().trim() != '') {
            var p = {
                "key": "employeeName",
                "action": "==",
                "value": $('#employeeNameFilter').val().trim()
            };
            filterList.push(p)
        }

        return JSON.stringify(filterList);
    }


    function onBeforeLoad(param) {

        param.extendParams = getParamsJson();

        return true;
    }

    function filter() {
        var queryParams = $('#@(tabEntityList)').datagrid('options').queryParams;

        queryParams.extendParams = getParamsJson();

        $('#@(tabEntityList)').datagrid('options').queryParams = queryParams;
        $('#@(tabEntityList)').datagrid('load');
    }
    function onDownloadTemplate() {
        window.location.href = '/Template/员工信息录入表格模板.xlsx';
    }

    function onExportAll() {

        window.location.href = '/@(controllerName)/ExportAll?extendParams=' + getParamsJson();
    }
    function onImportExcel() {
        $.ajax({
            url: '/@(controllerName)/ShowImport',
            type: 'GET',
            async: false,
            success: function (data) {
                if (data.indexOf("无权访问") >= 0) {
                    showAlert(data);
                    return;
                }
                $('#@(divContent)').append(data);
            }
        });
    }

    function onShowWarningDetail() {
        var row = $('#@(tabEntityList)').datagrid('getSelected');
        if (null == row) {
            showAlert("未选择")
            return;
        }

        showDlg(row)

    }

    function showDlg(row)
    {
        $('#leaveDetailDiv').dialog('open');
        $('#leaveDetailDiv').dialog('center');

        $('#leaveDetailGrid').datagrid({
            width: '100%',
            data: row.dimensions,
            pagination: false,
            singleSelect: true,
            rownumbers: true,
            nowrap: false,//允许换行
            //fitColumns: true,//宽度自适应
            columns: [[
                { field: 'dimension', title: '考察维度', width: 150 },
                { field: 'score', title: '维度得分', width: 100 },
                { field: 'value', title: '维度值', width: 100 },
                { field: 'average', title: '维度均值', width: 100 },
            ]],

        });
    }

</script>


