@model Apps.Model.Department
@{
    Layout = null;

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string divDialog = controllerName + "_divDialog";
    string divContent = controllerName + "_divContent";
    string formEntity = controllerName + "_formEntity";
    string tabEntityList = controllerName + "_tabEntityList";
}

<script>
    function show() {
        initDivDialog("编辑部门");
        initForm();

        $('#@(divDialog)').dialog('open');
        $('#@(divDialog)').dialog('center');
    }
    $(function () {
        show();
    });

    function destroyDialog() {
        $('#@(divDialog)').dialog('destroy');
        $('#@(divContent)').empty();
    }

    function initDivDialog(titleName) {
        $('#@(divDialog)').dialog({
            width: 450,
            height: 350,
            title: titleName,
            modal: true,
            closed: true,
            collapsible: false,// 是否显示可折叠按钮
            minimizable: false,// 是否显示最小化按钮
            maximizable: false,// 是否显示最大化按钮
            resizable: false,// 是否可以改变对话框窗口大小
            onClose: destroyDialog,
            // 对话框窗口底部按钮
            buttons: [
                {
                    text: '保存',
                    iconCls: 'icon-ok',
                    handler: function () {
                        $('#@(formEntity)').submit();
                    }
                },
                {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        destroyDialog();
                    }
                }
            ]
        });
    }

    function initForm() {
        $('#@(formEntity)').form({
            url: '/@(controllerName)/EditEntity',
            method: 'post',
            success: function (result) {
                var obj = JSON.parse(result);
                if (obj.status != 0) {
                    showAlert(obj.content);
                }
                else {
                    destroyDialog();
                    $('#@(tabEntityList)').treegrid('reload');
                }
            },
        });
        $('#parentId').combobox({
            width: '100%',
            editable: false,
            url: '/Department/GetAllEntities',
            mode: 'remote',
            valueField: 'id',
            textField: 'name',
        });
        @{
            if (Model.parent != null)
            {
                <text>
        $('#parentId').combobox('setValue', '@(Model.parentId)')
                </text>
            }
        }

    }
</script>

<div id="@(divDialog)" class="easyui-dialog">
    <form id="@(formEntity)" action="" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)

        <table style="margin:auto;width:90%">
            <tr>
                <td class="cols_2_left">
                    @Html.LabelFor(model => model.name, new { @class = "lab" })
                    <span class="spanInputDanger">*</span>
                </td>
                <td class="cols_2_right">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "parm_control" } })
                </td>
            </tr>
            <tr>
                <td class="cols_2_left">
                    @Html.LabelFor(model => model.code, new { @class = "lab" })
                    <span class="spanInputDanger">*</span>
                </td>
                <td class="cols_2_right">
                    @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "parm_control" } })
                </td>
            </tr>
            <tr>
                <td class="cols_2_left">
                    @Html.LabelFor(model => model.parentId, new { @class = "lab" })
                </td>
                <td class="cols_2_right">
                    <input class="parm_control" type="text" id="parentId" name="parentId" />
                </td>
            </tr>
        </table>
    </form>
</div>



