@{
    ViewBag.Title = "角色管理";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string divContent = controllerName + "_divContent";
    string tabEntityList = controllerName + "_tabEntityList";

}

<div class="easyui-layout" fit="true" border="false">
    <div>
        <div style="padding-bottom:15px; height:auto; background: #F4F4F4;">
            <form id="searchForm">
                <table>
                    <tr>
                        <th>开始时间：</th>
                        <td>
                            <input class="parm_control" type="text" id="timeBegin" name="timeBegin" />
                        </td>
                        <th>结束时间：</th>
                        <td>
                            <input class="parm_control" type="text" id="timeEnd" name="timeEnd" />
                        </td>
                        <th></th>
                        <td>
                            <a data-options="iconCls:'icon-search'" style="margin-left:15px;padding-left:5px;padding-right:5px" class="easyui-linkbutton" href="javascript:filter();">查询</a>
                        </td>

                    </tr>
                </table>
            </form>
        </div>
        <table class="tab_center" id="@(tabEntityList)"></table>
    </div>
</div>
<div id="@(divContent)"></div>

<div id="@(tabEntityList)Menu" class="easyui-menu" style="width: 50px; display: none;">
    <!--放置一个隐藏的菜单Div-->
</div>

<div id="@(tabEntityList)ContextMenu" class="easyui-menu" style="height: 250px; display: none;">
    <!--放置一个隐藏的菜单Div-->
</div>


<script>
	$(function () {
	    initPage();

		//初始加载，表格宽度自适应
		$(document).ready(function(){
			onDatagridAdjust();
		});
	　　//浏览器窗口大小变化后，表格宽度自适应
		$(window).resize(function(){
			onDatagridAdjust();
		});
    })

	function initPage() {
	    $('#timeBegin').datebox({
	        width: '100%',
	        formatter: databoxFormat,
	        parser: databoxParser
	    });
	    $('#timeEnd').datebox({
	        width: '100%',
	        formatter: databoxFormat,
	        parser: databoxParser
	    });



	    var url = '/@(controllerName)/GetEntities';
	    var callbackFuns = [
	    ];
	    toolbar = [
            { text: '导出', iconCls: 'icon-export', handler: onExport },
	    ];

	    var gridObj = new LogGrid('@(tabEntityList)', toolbar);
	    initDatagrid(gridObj, url, callbackFuns);

    }

	function getParamsJson() {
	    var filterList = new Array;
	    if ($('#timeBegin').val().trim() != '') {
	        var p = {
	            "key": "timeBegin",
	            "action": "==",
	            "value": $('#timeBegin').val().trim()
	        };
	        filterList.push(p)
	    }
	    if ($('#timeEnd').val().trim() != '') {
	        var p = {
	            "key": "timeEnd",
	            "action": "==",
	            "value": $('#timeEnd').val().trim()
	        };
	        filterList.push(p)
	    }

	    return JSON.stringify(filterList);
	}

	function filter() {
	    var queryParams = $('#@(tabEntityList)').datagrid('options').queryParams;

	    queryParams.extendParams = getParamsJson();

	    $('#@(tabEntityList)').datagrid('options').queryParams = queryParams;
	    $('#@(tabEntityList)').datagrid('load');
	}

    function onExport() {
        window.location.href = '/@(controllerName)/ExportAll?extendParams='+getParamsJson();
    }

</script>


