@model Apps.Model.Employee
@{
    Layout = null;

    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string divDialog = controllerName + "_divDialog";
    string divContent = controllerName + "_divContent-career";
    string tabEntityList = controllerName + "_tabEntityList-career";
}
<script>
    function show() {
        initDivDialog("员工职业生涯");

        $('#@(divDialog)').dialog('open');
        $('#@(divDialog)').dialog('center');
    }
    $(function () {
        show();
    });

    function destroyDialog() {
        $('#@(divDialog)').dialog('destroy');
        $('#@(divContent)').empty();
    }

    function initDivDialog(titleName) {
        $('#@(divDialog)').dialog({
            width: 650,
            height: 500,
            title: titleName,
            modal: true,
            closed: true,
            collapsible: false,// 是否显示可折叠按钮
            minimizable: false,// 是否显示最小化按钮
            maximizable: false,// 是否显示最大化按钮
            resizable: false,// 是否可以改变对话框窗口大小
            onClose: destroyDialog,
            // 对话框窗口底部按钮
            buttons: [
                {
                    text: '关闭',
                    iconCls: 'icon-cancel',
                    handler: destroyDialog
                }
            ]
        });

        initGrid();
    }


    function initGrid() {

        var url = '/@(controllerName)/GetCareer?id=@(Model.id)';
        var callbackFuns = [
        ];

        var toolbar = [
        ];

        var gridObj = new EmployeeCareerPropertyGrid('@(tabEntityList)', toolbar);

        initPropertygrid(gridObj, url, callbackFuns);
    }
    function initGrid2() {

        var url = '/@(controllerName)/GetCareer?id=@(Model.id)';
        var callbackFuns = [
        ];

        var toolbar = [
        ];

        var gridObj = new EmployeeCareerGrid('@(tabEntityList)', toolbar);

        initDatagrid(gridObj, url, callbackFuns);
    }



</script>

<div id="@(divDialog)" class="easyui-dialog">
    <div class="easyui-layout" fit="true" border="false">
        <div>
            @*<div data-options="region:'center',split:false,title:'@(tableTitle)'">*@
            <div style="padding-bottom:15px; height:auto; background: #F4F4F4;">
                <table>
                    <tr>
                        <th>姓名：</th>
                        <td>
                            <input class="parm_control" type="text" readonly="" value="@(Model.name)" />
                        </td>
                        <th>工号：</th>
                        <td>
                            <input class="parm_control" type="text" readonly="" value="@(Model.number)" />
                        </td>
                    </tr>
                </table>
            </div>
            <table class="tab_center" id="@(tabEntityList)"></table>
        </div>
    </div>

</div>




